workerPoolSpecs:
  - machineSpec:
      machineType: n1-standard-8
      acceleratorType: NVIDIA_TESLA_T4
      acceleratorCount: 1
    replicaCount: 1
    containerSpec:
      imageUri: europe-west1-docker.pkg.dev/dtumlops-484212/container-reg/clickbait-classifier:latest
