site_name: Clickbait Classifier
site_author: Group 19
site_description: A machine learning API that detects clickbait headlines
docs_dir: source
site_dir: ../site

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.sections

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [../src]
          options:
            show_source: false

nav:
  - Home: index.md
  - Project Description: PROJECT.md
  - Development & Deployment: DEPLOYMENT.md
  - API Reference: api.md

